@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100vw;
  height: 54px;
  /* background-color: darkcyan; */
}

.header {
  margin-left: -20px;
  border-bottom: 1px #dbdbdb solid;
}

.header-content {
  margin: auto;

  width: 100vw;
  max-width: 934px;
  height: 54px;
  /* background-color: darkcyan; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 103px;
  height: 29px;
  margin-left: 10px;
}

.icon-insta {
  font-size: 23px;
  margin-left: 10px;
}

.barra-vertical {
  width: 1px;
  height: 22px;
  margin-left: 10px;
  background: #dbdbdb;
}

.header-mid input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 220px;
  height: 28px;
  background-color: #fafafa;
}
.header-mid input:focus {
  outline: none;
}
.box-miolo {
  /* width: 100vw; */
  max-width: 934px;
  /* height: 100vh; */
  margin: auto;
  /* background-color: salmon; */
}

.stories-overflow {
  width: 1000px;
  height: 118px;
  /* background-color: blue; */
}
.box-overflow {
  display: flex;
}
.box-stories {
  width: 625px;
  height: 118px;
  margin-top: 34px;
  margin-bottom: 24px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  overflow-x: hidden;
  /*background-color: green;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.story-seta {
  position: absolute;
  right: 10px;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}
.story-seta ion-icon {
  font-size: 2rem;
  color: #ffffff;
}

.story-images {
  width: 66px;
  height: 66px;
  border-radius: 28px;
  background-image: url("img/stories_background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}
.story-images img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.space {
  margin-top: 5px;
  font-size: 12px;
}
.box-sidebar {
  margin-top: 40px;
  position: fixed;
  width: 293px;
  top: 54px;
  bottom: 0;
  left: calc(50% + 175px);
  height: calc(100vh - 88px);
}
.conteudo-top-container {
  width: 290px;
  height: 90px;
  /* background-color: lightgreen; */
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.conteudo-top-img {
  padding-top: 20px;
  padding-left: 20px;
}
.conteudo-top-texto {
  font-size: 14px;
  padding-top: 30px;
  padding-left: 20px;
}
.conteudo-top-img img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.conteudo-mid-container {
  width: 290px;
  height: 45px;
  /* background-color: green; */
  display: flex;
}
.conteudo-mid-img {
  padding-top: 10px;
  padding-left: 20px;
}
.conteudo-mid-img img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.conteudo-mid-texto {
  font-size: 14px;
  padding-top: 12px;
  padding-left: 20px;
}
.conteudo-mid-texto .seguir {
  margin-left: 160px;
  margin-top: -15px;
}
.conteudo-bot-container {
  width: 290px;
  height: 75px;
  color: #c7c7c7;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 12, 89px;
  margin-top: 35px;
  margin-left: 20px;
}
.seguir-recomendacoes {
  margin-left: 230px;
  margin-top: -15px;
}
.recomendacoes {
  width: 290px;
  height: 30px;
  /* background-color: green; */
}
.recomendacoes-texto {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14, 06px;
  color: #8e8e8e;
  padding-left: 25px;
  padding-top: 10px;
}
.seguir {
  color: #3caef3;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  width: 50px;
  height: 46px;
}
.box-posts {
  width: 625px;
  height: 749px;
  margin: 10px 0;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
}
.post {
  width: 614px;
  height: 749px;
}
.post-img img {
  width: 623px;
  height: 615px;
}
.post-img video {
  width: 622px;
  height: 615px;
  background: -webkit-linear-gradient(to right, #fa3f99, #6a3093);
  background: linear-gradient(to right, #fa3f99, #6a3093);
}
.post-top {
  height: 60px;
  display: flex;
  justify-content: start center;
  align-items: center;
  padding-left: 20px;
}
.post-box-img img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.post-box-name {
  margin-left: 20px;
  display: flex;
  position: relative;
}
.name-post-icon {
  position: absolute;
  left: 510px;
}
.post-bot-icons {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.icons-bot {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 22px;
}
.diferente {
  position: absolute;
  left: 570px;
}
.curtidopor {
  width: 500px;
  height: 30px;
  margin-top: 5px;
  margin-left: 18px;
  display: flex;
  /* background-color: red; */
}
.curtidopor-img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.curtidopor-texto {
  margin-top: 7px;
  margin-left: 5px;
}
.bold {
  font-weight: bold;
}
.size12 {
  margin-top: 5px;
  font-size: 12px;
}
/* mobile */
.header-mobile {
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* efeitos */
.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}
ion-icon:hover {
  cursor: pointer;
}
img:hover {
  cursor: pointer;
}
p:hover {
  cursor: pointer;
}
/* responsividade */
@media (min-width: 100px) {
  .header-mobile {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .stories__seta-frente {
    display: none;
  }
}
@media (max-width: 935px) {
  .box-sidebar {
    display: none;
  }
}
@media (max-width: 614px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: flex;
  }
}
